*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'tetris';
    src: url('../fonts/Tetris2.ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.start, .introduction{
    width: 100vw;
    height: 100vh;
}

.start{
    background-color: black;
    position: relative;
}

.start_header, .start_tetris{
    color: yellow;
    position: absolute;
    transform: translate(-50%, -50%);
}

.start_header{
    font-size: 40px;
    top: 30%;
    left: 50%;
    letter-spacing: 10px;
    word-spacing: 20px;
    font-weight: 900;
    animation-name: changeColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
}

@keyframes changeColor {
    0% {color: yellow}
    25% {color: lightgreen}
    50% {color: aqua}
    75% {color: violet}
    100% {color: pink}
}

.start_tetris{
    font-size: 80px;
    top: 51%;
    left: 50%;
    letter-spacing: 20px;
    font-weight: 900;
    font-family: 'tetris', Helvetica, sans-serif;
    animation-name: lightenHeader;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;

}


@keyframes lightenHeader {
    0% {font-size: 80px; text-shadow: 0px 0px 25px pink;}
    100% {font-size: 120px; text-shadow: 0px 0px 125px pink;}
}



.start_button{
    position: absolute;
    background-color: #6AAB61;
    border-color: grey;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.introduction{
    background-image: url("../img/20707_funny_ants_playing_tetris.jpg");
    background-color: yellow;
    position: relative;
}

.introduction_item{
    border: 5px solid #2D5B0F;
    position: absolute;
    top: 10%;
    left: 33%;
    border-radius: 25px;
    width: 50vw;
    height: 80vh;
}

.introduction_header{
    padding: 20px 0 0 150px;
    font-size: 40px;
}
.introduction_description{
    padding: 20px 0 25px 25px;
    text-align: center;

}

.introduction_label{
    font-size: 18px;
}

.introduction_input{
    width: 50px;
    background-color: #AFCC5D;
    border-color: transparent;
    margin: 10px;
}

.introduction_input:focus{
    border-color: #2D5B0F;
    background-color: yellow;
}

.introduction_textContainer{
    padding: 20px;
}

.introduction_text{
    padding: 10px 0 10px 0;
    font-size: 20px;
}

.introduction_span{
    font-size: 35px;
    padding-left: 20px;
}


.introduction_button{
    position: absolute;
    background-color: #2D5B0F;
    color:#AFCC5D;
    /*background-color: #6AAB61;*/
    border-color: #AFCC5D   ;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.introduction_message{
    font-size: 25px;
    color: darkred;
    padding-top: 10px;
}

.tetrisContainer{
    /*background-color: #6AAB61;*/
    /*//#AAC95D*/
    /*background-image: url("../img/20707_funny_ants_playing_tetris.jpg");*/
    background-color: #94d38b;
    width: 100vw;
    height: 100vh;
    display: none;
}

#tetris{
    /*width: 400px;*/
    /*height: 400px;*/
    margin: 1em auto;
    min-height: 100px;
    min-width: 100px;

}

#tetris div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    float: left;
    background-color: #AAC959;
}

.finishedGame {
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/20707_funny_ants_playing_tetris.jpg");
    background-color: yellow;
    position: relative;
}

.finishedGame h1{
    position: absolute;
    top: 200px;
    left: 700px;
}