/*basic reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*additional fonts for whole page */
@font-face {
    font-family: 'tetris';
    src: url('../fonts/Tetris2.ttf');
    font-weight: normal;
    font-style: normal;
}

/*blocking of scrolling of page */
body{
    overflow-x: hidden;
    overflow-y: hidden;
}

/*setting sizes for start and introduction sections */
.start, .introduction{
    width: 100vw;
    height: 100vh;
}


/*styling of start section */
/*styling of main start container */
.start{
    background-color: black;
    position: relative;
}

/*styling of elements inside start container */
.start_header, .start_tetris{
    color: yellow;
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: 900;
}

.start_header{
    font-size: 40px;
    top: 30%;
    left: 50%;
    letter-spacing: 10px;
    word-spacing: 20px;
    animation-name: changeColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
}

/* animation for start_header item */
@keyframes changeColor {
    0% {color: yellow;}
    25% {color: lightgreen;}
    50% {color: aqua;}
    75% {color: violet;}
    100% {color: pink;}
}

.start_tetris{
    font-size: 80px;
    top: 51%;
    left: 50%;
    letter-spacing: 20px;
    font-family: 'tetris', Helvetica, sans-serif;
    animation-name: lightenHeader;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
}

/* animation for start_tetris item */
@keyframes lightenHeader {
    0% {font-size: 80px; text-shadow: 0px 0px 25px pink;}
    100% {font-size: 120px; text-shadow: 0px 0px 125px pink;}
}

.start_button{
    position: absolute;
    background-color: #6AAB61;
    border-color: grey;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}


/*styling of introduction section */
/*styling of the main introduction container */
.introduction{
    background-color: yellow;
    background-image: url("../img/20707_funny_ants_playing_tetris.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*styling of the introduction inner container - inside the border*/
.introduction_item{
    border: 5px solid #2D5B0F;
    position: absolute;
    top: 10%;
    left: 33%;
    border-radius: 25px;
    width: 50vw;
    height: 80vh;
}

/*styling of the elements inside introduction inner container */
.introduction_header{
    padding: 20px 0 0 150px;
    font-size: 40px;
}

.introduction_description{
    padding: 20px 0 25px 25px;
    text-align: center;
}

.introduction_label{
    font-size: 18px;
}

.introduction_input{
    width: 50px;
    background-color: #AFCC5D;
    border-color: transparent;
    margin: 10px;
}

.introduction_input:focus{
    border-color: #2D5B0F;
    background-color: yellow;
}

.introduction_textContainer{
    padding: 20px;
}

.introduction_text{
    padding: 10px 0 10px 0;
    font-size: 20px;
}

.introduction_span{
    font-size: 35px;
    padding-left: 20px;
}

.introduction_button{
    position: absolute;
    background-color: #2D5B0F;
    color:#AFCC5D;
    border-color: #AFCC5D   ;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
}

.introduction_message{
    font-size: 25px;
    color: darkred;
    padding-top: 10px;
}

/*styling of game section */
/*styling of the main container of game section */
.tetrisContainer{
    background-color: #94d38b;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: left;
}

/*styling of the left container located inside main tetris container
contains buttons and section for description of buttons action */
.tetrisLeft{
    text-align: center;
    width: 30vw;
    height: 60vh;
    border: 1px solid green;
    margin: 10vh 0 0 10vw;
}

/* styling of position of header for tetrisLeft and buttons container */
.tetris_header, .tetris_button_container_title{
    margin: 20px;
}

/*styling of tetris special buttons */
.tetris_button{
    margin: 10px 5px 20px 5px;
    padding: 5px;
}

.tetris_slowDown{
    top: 50%;
    left: 10%;
}

/*styling of element containing descriptions of tetris special buttons */
.tetrisInfo_text{
    margin: 20px;
    font-size: 20px;
}

/*styling of tetris element containing all divs */
/*styling of main container */
#tetris{
    margin-top: 10vh;
    margin-left: 10vw;
    min-height: 100px;
    min-width: 100px;
}

/*styling of small tetris elements - small rectangulars */
#tetris div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    float: left;
    background-color: #AAC959;
}


/*styling of section handling description after finishing the game */
/* styling of the main container of finishing section */
.finishedGame {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: yellow;
    background-image: url("../img/20707_funny_ants_playing_tetris.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* styling of the inner container of finishing section */
.finishedGame_container{
    border: 5px solid #2D5B0F;
    position: absolute;
    top: 10%;
    left: 33%;
    border-radius: 25px;
    width: 50vw;
    height: 80vh;
    text-align: center;
}

/* styling of elements inside the inner container of finishing section */
.finishedGame_header{
    padding: 20px 0;
    animation-name: changeSize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
}
/* styling the animation for header of finishing section */
@keyframes changeSize {
    0% {font-size: 30px; text-shadow: 0 0 0 yellow;}
    100% {font-size: 40px; text-shadow: 0 0 10px yellow;}
}

.finishedGame_text_container{
    position: absolute;
    top: 19%;
    left: 5%;
}

.finishedGame_points, .finishedGame_text_middle{
    font-size: 30px;
    padding: 10px;
}

.finishedGame_text{
    padding: 20px 0 25px 25px;
    font-size: 30px;
}

.finishedGame_joke{
    font-size: 30px;
    padding: 30px;
    color: black;
    font-style: italic;
}


