*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tetrisContainer{
    background-color: pink;
    width: 100vw;
    height: 100vh;
}

#tetris{
    /*width: 400px;*/
    /*height: 400px;*/
    margin: 1em auto;
    min-height: 100px;
    min-width: 100px;

}

#tetris div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    float: left;
}

.finishedGame {
    width: 100vw;
    height: 100vh;
    display: block;
    background-image: url("../img/20707_funny_ants_playing_tetris.jpg");
    background-color: yellow;
    position: relative;
}

.finishedGame h1{
    position: absolute;
    top: 200px;
    left: 700px;
}